https://stackblitz.com/storage/blobs/eyJfcmFpbHMiOnsiZGF0YSI6ODMxMDMwODcsInB1ciI6ImJsb2JfaWQifX0=--a78640b1132d77e269eb339498809f1a41dff16a//.gitignore
.env

# clerk configuration (can include secrets)
/.clerk/
reference_ui/
